localhost {
    handle /styles/* {
        rewrite /styles/{path} /{path}
        reverse_proxy http://host.docker.internal:3000
    }

    handle / {
        rewrite * /index.html
        reverse_proxy http://host.docker.internal:3000
    }

    handle {
        reverse_proxy http://host.docker.internal:8000
    }
}

piklnk.ru {
    tls internal
    
    handle /styles/* {
        rewrite /styles/{path} /{path}
        reverse_proxy http://host.docker.internal:3000 {
            header_up Host {host}
        }
    }

    handle / {
        rewrite * /index.html
        reverse_proxy http://host.docker.internal:3000 {
            header_up Host {host}
        }
    }

    handle {
        reverse_proxy http://host.docker.internal:8000 {
            header_up Host {host}
        }
    }
}